APP_ENV=local

DB_HOST=127.0.0.1
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=db_name
DB_DIALECT=mysql
DB_USE_UTC=false
DB_TIMEZONE="+07:00"

BCRYPT_SALT_ROUND=10
SECRET_TOKEN=N3kUTLwMZbaFTv73ir1X830S72JGnI4xgwdUhxUf
SECRET_RTOKEN=kGDNQEGvpFHtiWiwkIOjLGA9rBwluUaEEObS6D3T

AZURE_FORM_RECOGNIZER_KEY=8a204d86bbcb4620b5ea260dd211cc2f
AZURE_FORM_RECOGNIZER_ENDPOINT=https://faizalformrecognizertest.cognitiveservices.azure.com/
